* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #cccccc;
}

header {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-family: Helvetica, sans-serif ;
    font-size: 15px;
    color: white;
    letter-spacing: 3px;
    font-weight: bolder;
    
}

/* navbar content */

.navbar a {
    font-family: Helvetica, sans-serif ;
    font-size: 25px;
    color: white;
    letter-spacing: 5px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;   
}

.navbar li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a:hover {
    color: rgb(255, 138, 210);
}

/* logo & image container */

.logo_profile {
    display: flex;
    justify-content: space-between;
}

#logo:hover {
    filter: blur(2.5px);
    transition: 0.5s ease-in-out;
}

#profile {
    max-width: 350px;
    max-height: 300px;
    padding: 40px;
    margin-right: 50px;
    opacity: 50%;
}

#profile:hover {
    filter: blur(5px);
    transition: 0.5s ease-in-out;
}

/* about styling */

#about {
    font-family: Helvetica, sans-serif ;
    font-size: 35px;
    color: white;
    letter-spacing: 3px;
    margin-left: 10px;
}

/* projects styling */

.projects {
    font-family: Helvetica, sans-serif ;
    font-size: 35px;
    color: white;
    letter-spacing: 3px;
    margin-left: 10px;
}

.projects h3 {
    color: rgb(255, 138, 210);
}

/* project cards */

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card a {
    text-decoration: none;
}

/* contact & media icons */

.contact {
    font-family: Helvetica, sans-serif ;
    font-size: 35px;
    color: white;
    letter-spacing: 3px;
    margin-left: 10px;
}

#linkedin {
    max-height: 40px;
    max-height: 40px;
}

#email {
    max-height: 20px;
    max-height: 20px;
}

/*media queries */

@media screen and (max-width: 768px) {
    .card {
        width: 25%;
    }
}

@media screen and (max-width: 400px) {
    .card {
        width: 25%;
    }
}

